body {
	margin: 0;
	padding: 0;
	background: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

#menu {
	background-image: url(./images/bg.jpg);
	width: 100% !important;
	height: 1080px !important;
	padding: 0;
	margin: 0 !important;
}

.logo {
	margin: 15px 0;
}

.brand {
	font-size: 40px !important;
	color: rgb(255, 255, 255) !important;
	position: relative;
	top: 25px;
	right: 25px;
}

.menu-items {
	position: relative;
	left: 90px;
	padding: 40px 40px !important;
	font-size: 20px !important;
	color: #000000 !important;
}

.social-icons {
	padding: 45px 10px;
	position: relative;
	left: 400px;
}

.contact {
	padding: 100px 0;
	width: 1880px;
}

.input-row-container {
	margin-left: 60px;
	margin-right: -60px;
}

.input-row1 {
	width: 400px;
	height: 60px;
	padding-left: 30px;
}

.input-message {
	width: 820px;
	margin-left: 60px;
	padding-left: 30px;
	padding-top: 20px;
}

.submit-button {
	margin-left: 60px;
	width: 820px;
	height: 60px;
	font-weight: 600;
	color: white;
}

.contact-left-align {
	margin-left: 30px;
	margin-right: 0px; 
	margin-top: 40px;
	margin-bottom: 100px;
}

.contact-icons {
	float: left;
	color: #DA2250
}

.contact-icons div{
	overflow: auto;
	text-align: left;
}

.contact-title {
	padding-left: 90px;
}

.contact-content {
	padding-left: 90px;
	padding-right: 140px;
	color: rgba(255, 255, 255, 0.781);
}

.footer {
	text-align: center;
}

.footer-icons {
	padding: 40px 5px;
}

.end-tag {
	font-size: 18px;
	font-weight: 600;
	margin-top: 100px;
	padding-bottom: 20px;
	color: #AB1A3B;
}

h1, h2 {
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: 800;
	color: #FFFFFF;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

p, ul, ol {
	margin-top: 0;
	margin-bottom: 0;
}

.tag-one {
	margin: auto;
	height: 40%;
	width: fit-content;
	align-content: flex-start;
	background-color: #0000003d;
}

.image-tag {
	width: 1260px;
	height: 400px;
}

a {
	text-decoration: none;
	color: #ececec;
}

img.border {
	/* border: 6px solid #E1F1F6; */
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper-bgbtm {
}

/* Header */



/* Logo */

#logo {
	float: left;
	height: 100px;
	margin: 0px;
	padding: 0px;
	border: none;
	
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	padding-top: 10px;
	letter-spacing: -1px;
	text-shadow: #FFFFFF -1px 1px 2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 50px;
}

#logo p {
	display: block;
	margin-top: -10px;
	padding-left: 5px;
	text-shadow: #808080 -1px 1px 2px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	height: 110px;
	width: 210px;
	padding: 0;
}

#search form {
	height: 50px;
	padding: 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search h2 {
	text-align: center;
}

#search-text {
	width: 210px;
	padding:6px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}

#search-submit {
	display: none;
}

/* Menu */

#menu {
	width: fit-content;
	height: 50px;
	margin: 40px 0px 0px 0px;
	padding: 0px 0px 0px 20px;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	float: left;
	margin: 0px 2px 0px 0px;
	padding: 5px 20px;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a.menu-items:hover {
	font-weight: 600;
	text-decoration: solid;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(36, 36, 36); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}